
*{
    padding: 0px;
    margin: 0px;
}
#h1{
    height:100px;
    width: 100%;
    background-color: #D69ADE;
    position: fixed;
    z-index: 1;
    
    display: inline-block;
}
#logo1{
    height: 30px;
    width: 50px;
    /*border-style:solid*/
    background-image:url(ligo3.jpg);
    background-size: cover;
    z-index: 1;
    display: inline-block;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-right: 15px;
}
#logo2{
    height: 100px;
    width: 100px;
    display: inline-block;
    color: #FFDFEF;
    font-size: 50px;
    position: relative;
    bottom: 10px;
    font-family: Segoe Print;
}
#logo3{
    height: 30px;
    width:250px;
    display: inline-block;
    margin-left: 300px;
    position: relative;
    top: -20px;
    border-radius: 25px;
    
    
}
#logo03{
    /*height: 50px;*/
    width:80px;
    display: inline-block;
    position: relative;
    top: -20px;
    color:white;
    border-radius: 25px;
}
#logo4{
    display: inline-block;
    margin-left: 80px;
    position: relative;
    top: -20px;
    font-size: 20px;
    height: 50px;
    
}
#logo5{
    display: inline-block;
    margin-left: 80px;
    position: relative;
    top: -20px;
    font-size: 20px;
}
#logo6{
    height: 40px;
    display: inline-block;
    margin-left: 80px;
    position: relative;
    top: -20px;
    background-color:#82548b;
    font-size: 25px;
    color: white;
    border-radius: 10px;
}
#sidenav{
    height:1000px;
    width:200px ;
    background-color:#be86d4 ;
    margin-top: 100px;
    scrollbar-color: var(--yt-spec-text-secondary) transparent;
    position: fixed;
    z-index: 5;

}
#n1{
    height: 50px;
    width:175px;
    background-color:rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    color: aliceblue;
    text-decoration: none;
}
#n2{
    height: 50px;
    width:175px;
    background-color: rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    color: aliceblue;
}
#n3{
    height: 50px;
    width:175px;
    background-color: rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    color: aliceblue;
}
#n4{
    height: 50px;
    width:175px;
    background-color: rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    color: aliceblue;
}
#n5{
    height: 50px;
    width:175px;
   background-color: rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    color: aliceblue;
}
#n6{
    height: 50px;
    width:175px;
    background-color: rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    color: aliceblue;
}
#n7{
    height: 50px;
    width:175px;
    background-color: rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    color: aliceblue;
}
#n8{
    height: 50px;
    width:175px;
    background-color: rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    text-transform: capitalize;
    color: aliceblue;
}
#n9{
    height: 50px;
    width:175px;
    background-color: rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    text-transform: capitalize;
    color: aliceblue;
}
#n10{
    height: 50px;
    width:175px;
    background-color:rgb(53, 48, 86);
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    text-transform: capitalize;
    color: aliceblue;
}
#n11{
    height: 50px;
    width:175px;
    background-color:rgb(53, 48, 86); 
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    text-transform: capitalize;
    color: aliceblue;
}
#n12{
    height: 50px;
    width:150px;
    background-color: antiquewhite;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    text-transform: capitalize;
    color: aliceblue;
}
#n13{
    height: 50px;
    width:150px;
    background-color: antiquewhite;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 25px;
    text-transform: capitalize;
    text-transform: capitalize;
    color: aliceblue;
}
#topnav2{
    height: 30px;
    background-color: #e81c82;
    position: relative;
    top:100px;
    position: sticky;
    z-index: 1;
}
#nav2{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 5px;
}
#body1{
    height: 1000px;
    width:1318px;
    background-color: #22201c;
    position: relative;
    left: 200px;
    top:100px;
}
#body01{
    height: 240px;
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#body02{
    height: 150px;
    width: 150px;
    border-radius: 30%;
    background-color: chartreuse;
   
}
a:hover{
    transform: scale(1.1);
    border-style: ridge;
    border-color: rgb(176, 179, 161);
}
#body3{
    height: 240px;
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#body03{
    height: 180px;
    width: 180px;
    border-radius: 60%;
    background-color: chartreuse;
   
}
a{
    text-decoration: none;
}
#body04{
    height: 130px;
    width: 180px;
    border-radius: 10%;
    background-color: chartreuse;
}